.EditMenu {
  background-color: #668663;
  padding: 15px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 15px;
}
.EditMenu__icon {
  margin-right: 10px;
}
.EditMenu__edit {
  margin-bottom: 5px;
}

.button {
  text-align: left;
  border: none;
  background-color: #668663;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 14px;
}
.button:focus {
  background-color: #567354;
  outline: none;
}
.EditMenu.hidden {
  display: none;
}
