@import url('./fonts/styles/all.css');
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar-track {
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid black;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #668663;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
