.Main {
  width: 80%;
  background-color: #fff;
  border-radius: 35px;
  padding: 16px 30px 0px;
  display: flex;
  flex-direction: column;
}
.Main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 7px;
  margin-left: 20px;
  margin-bottom: 36px;
}
.Main__header:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #d9d9d9;
  top: 100%;
  left: 0;
}
.cages {
  display: flex;
}
.cages-wrapper {
  display: flex;
  align-self: flex-end;
}
.cages-add {
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #d9d9d9;
  font-size: 11px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: center;
}
.cage-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-left: 20px;
}
.cage-header__title {
  color: #567354;
  font-size: 32px;
  font-weight: bold;
  margin-right: 13px;
}
.cage-header__add {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: #668663;
  font-size: 20px;
  cursor: pointer;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
  color: #484848;
}
.bell {
  font-size: 24px;
  color: #567354;
}
.contacts__bell {
  margin-right: 24px;
}
.contacts__mail-logo {
  margin-right: 13px;
}
