.Capacity {
  background: #668663;
  margin-top: auto;
  align-self: flex-end;
  padding: 29px;
  color: #fff;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  position: relative;
}
.Capacity__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 10px;
}
.Capacity__percentage {
  font-size: 50px;
  font-weight: 400;
  padding-left: 7px;
  margin-right: 15px;
}
.Capacity__title {
  font-size: 20px;
  font-weight: 500;
}
.Capacity__line-container {
  width: 323px;
  height: 31px;
  background-color: #435f40;
  border-radius: 15px;
  padding: 4px;
  margin-right: 25px;
}
.Capacity__line {
  height: 100%;
  background-color: #f3dbc7;
  border-radius: 15px;
}
.Capacity__close {
  position: absolute;
  top: 20px;
  right: 25px;
}
.Capacity__line-wrapper {
  display: flex;
  align-items: center;
}
.Capacity__info {
  padding: 10px 15px;
  background-color: #435f40;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 200;
}
