.Button {
  position: relative;
  border: none;
  background-color: #567354;
  color: #fff;
  font-weight: 300;
  font-size: 19px;
  text-align: left;
  margin-bottom: 20px;
  padding: 16px 15px 16px 71px;
  border-radius: 25px;
  text-decoration: none;
}

.Button__icon {
  position: absolute;
  left: 17px;
  font-size: 24px;
  top: 13px;
  color: #f3dbc7;
}
.Button.active {
  background-color: #ffffff;
  color: #567354;
  font-weight: 500;
  .Button__icon {
    color: #435f40;
  }
}
